#my-account-wrapper {
	text-align: center;
	margin-top: 20px;
}
#my-account {
	display: inline-block;
	text-align: left;
}
#user-image {
	width: 128px;
	height: 128px;
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	position: relative;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
#user-image .upload {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.1s ease-in-out,
				background-color 0.1s ease-in-out;
	background-color: rgba(0,0,0,0.3);
	background-image: url(/assets/photo.png);
	background-size: 25%;
	background-position: center;
	background-repeat: no-repeat;
}
#user-image:hover .upload {
	opacity: 1;
}
#user-image:active .upload {
	background-color: rgba(0,0,0,0.5);
}
#user-image input {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

#user-info {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	max-width: 400px;
}
#user-info h1 {
	margin: 30px 0 0 0;
}
#user-info p#user-time {
	margin: 0;
	opacity: 0.6;
}
#user-info input {
	width: 100%;
}
span.space {
	display: inline-block;
	width: 10px;
}
@media (max-width: 700px) {
	#user-image {
		position: absolute;
		width: 96px;
		height: 96px;
	}

	#user-info {
		margin-left: 116px;
	}
	#user-info h1 {
		margin-top: 20px;
	}
}