
.face > span {
	animation: face infinite 0.9s linear;
	display: inline-block;
}
@keyframes face {
	0% { transform: translateY(0%); }
	25% { transform: translateY(-5%); }
	50% { transform: translateY(0%); }
	75% { transform: translateY(5%); }
	100% { transform: translateY(0%); }
}