.user .image {
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	vertical-align: middle;
	margin-right: 10px;
	background-size: contain;
	background-position: center;
}
.user.loading .image {
	background-color:rgba(0,0,0,.1);
	animation:loadingblink infinite ease-in-out 1s
}
@keyframes loadingblink {
	0%  {background:rgba(0,0,0,.025)}
	50% {background:rgba(0,0,0,.075)}
	100%{background:rgba(0,0,0,.025)}
}